<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<p><%= link_to 'Back', articles_path %></p>
